<!-- <div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-4">


            <h3>
                Register
            </h3>


            <input class="form-control mb-2" placeholder="Full Name" [(ngModel)]="fullName">


            <input class="form-control mb-2" placeholder="Email" [(ngModel)]="email">


            <input type="password" class="form-control mb-3" placeholder="Password" [(ngModel)]="password">



            <button class="btn btn-success w-100" (click)="register()">

                Register

            </button>


        </div>

    </div>

</div> -->

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-4">


            <h3>
                Register
            </h3>


            <input class="form-control mb-2" placeholder="Full Name" [(ngModel)]="fullName">


            <input class="form-control mb-2" placeholder="Email" [(ngModel)]="email">


            <input type="password" class="form-control mb-3" placeholder="Password" [(ngModel)]="password">



            <button class="btn btn-success w-100" (click)="register()">

                Register

            </button>


            <div class="text-end mt-2">

                <span class="text-muted">
                    Already registered?
                </span>

                <a routerLink="/login" class="ms-1">
                    Login here
                </a>

            </div>


        </div>

    </div>

</div>